
<suite name="Suite">

	<test name="chromeTest">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="nse.nse1.TestNSE" />
		</classes>
	</test> <!-- Test -->

	<test name="firefoxTest">
		<parameter name="browser" value="firefox"/>
		<classes>
			<class name="nse.nse1.TestNSE" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
